@import 'vars';

.button_pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  // border-bottom: 1px solid #000;
  background: linear-gradient(
    to left,
    $primary-dark 0%,
    $primary-dark 8%,
    $primary-dark 92%,
    $primary-dark 100%
  );
}

.button_front {
  display: block;
  position: relative;
  padding: 8px 32px;
  border-radius: 8px;
  color: #fff;
  border-bottom: 0;
  background-color: $primary;
  will-change: transform;
  transform: translateY(-3px);
  transition: transform .4s ease;
  font-size: 16px;
}

.button_arrow {
  .button_front {
    display: flex;
    justify-content: center;
    padding-right: 64px;
    padding-left: 16px;
    &:after {
      content: '';
      position: absolute;
      width: 48px;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      right: 0;
      top: 0;
      background-color: $primary-dark;
    }

    img {
      position: absolute;
      right: 14px;
      width: 20px;
      height: 20px;
      z-index: 1;
    }
  }
}

.button_secondary {
  .button_front { 
    background-color: $secondary;
    color: #1d1d1d;
  }

  .button_edge {
    background: linear-gradient(
      to left,
      $secondary-dark 0%,
      $secondary-dark 8%,
      $secondary-dark 92%,
      $secondary-dark 100%
    );
  }
  
  &.button_arrow {
    .button_front:after {
      background-color: $secondary-dark;
    }
  }
}

.button_large {
  .button_front {
    font-size: 24px;
    padding: 12px 64px;
  }
}


.button_pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button_pushable:hover .button_front {
  transform: translateY(-5px);
  transition: transform .3s ease;
}

.button_pushable:active .button_front {
  transform: translateY(-2px);
  transition: transform .3s;
}

.button_pushable:focus:not(:focus-visible) {
  outline: none;
}