@import 'vars';

.footer {
  background-color: $primary;
  margin: 0;
  padding: 16px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
}

.footer_headline {
  margin: 0;
  font-size: 32px;
}

.footer_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0;
  padding-bottom: 16px;

  li {
    &:not(:last-child) {
      &:after { 
        content: '|';
        margin: 0 8px;
        color: rgba(#fff, 0.25)
      }
    }
  }
}

.footer_socials {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.footer_socials_item {
  background-color: #fff;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    height: 24px;
  }
  &:first-child {
    margin-right: 16px;
  }
}