.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.container_full {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  padding-bottom: 32px;
  .container_full {
    display: flex;

    @media (max-width: 1023px) {
    }
  }
  h1 {
    font-size: 80px;
    padding-bottom: 12px;
    margin: 0;
  }

  p {
    padding-bottom: 48px;
    margin: 0;
  }
}

.hero_left {
  flex: 1 0 65%;
  max-width: 65%;
  padding: 64px;
}

.hero_right {
  position: relative;
  max-width: 35%;
  flex: 1 0 35%;
  img {
    object-fit: cover;
  }
}

.grid {
  display: flex;
  justify-content: center;
}