.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.container_full {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  .container_full {
    display: flex;

    @media (max-width: 1023px) {
    }
  }
  h1 {
    font-size: 80px;
    padding-bottom: 12px;
    margin: 0;
  }

  p {
    padding-bottom: 48px;
    margin: 0;
  }
}

.hero_highlight {
  color: #5EBCEA;
}

.hero_left {
  flex: 1 0 65%;
  max-width: 65%;
  padding: 64px;
}

.hero_right {
  position: relative;
  max-width: 35%;
  flex: 1 0 35%;
  img {
    object-fit: cover;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.product {
  padding-bottom: 64px;
}

.product_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product_headline {
  text-align: center;
  font-size: 48px;
}