.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  .container {
    display: flex;
  }
  h1 {
    font-size: 80px;
    padding-bottom: 12px;
    margin: 0;
  }

  p {
    padding-bottom: 24px;
    margin: 0;
  }
}

.hero_left {
  flex: 1 0 70%;
  max-width: 70%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.cta {
  margin-top: 3rem;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

@media (max-width: 400px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
