@import 'vars';

.product {
  margin: 1%;
  padding: 15px;
  width: 28%;
  border-radius: 5px;
}

.product_img {
  border-radius: 8px;
}

.product_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_name {
  font-size: 24px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 4px;
}

.product_desc {
  margin: 0;
  padding-bottom: 20px;
}

.product_price {
  font-size: 20px;
  padding-bottom: 16px;
}

.product_atc_container {
  display: flex;
  justify-content: center;
}

.product_atc {
  position: relative;
  display: flex;
  justify-content: center;
  span:last-child {
    display: flex;
    justify-content: center;
    padding-right: 64px;
    padding-left: 16px;
    &:after {
      content: '';
      position: absolute;
      width: 48px;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      right: 0;
      top: 0;
      background: $primary-dark;
    }

    img {
      position: absolute;
      right: 14px;
      width: 20px;
      height: 20px;
      z-index: 1;
    }
  }
}

.product button:hover {
  cursor: pointer;
}